/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */

* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
}
.mdc-notched-outline__notch
{
  border-right: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
